.ul-nav{
    display: inline-flex;
    background-color: rgb(255,255,255);
    width: 2000px;
    height: 30px;
    border: 0px ;
    margin: 0px;
    border: 2px;
    border-radius: 10px
}
.li-nav{
    padding: 5px;
}
.btLogout{
    float: right;
    cursor: default;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13px system-ui;
    padding: 1px 7px 2px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(0, 0, 0) ;
    border-image: initial;
    border-radius: 10px;
    
}